.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  padding: 15px;
  background-size: cover;
  background-image:url("https://img.freepik.com/premium-vector/abstract-blue-watercolor-decorative-background-design_1055-14520.jpg?w=900");
}
